<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />

        <title>Title of the document</title>
    </head>
	<style type="text/css">
		table tr, th, td { border: 1px solid black; padding:15px;}
		td span{ margin: 10px; }
		.pago{ color: green;}
		.nao-pago{ color: red;}
		.my-class{background: yellow; }
	</style>
    <body>
        <div id="appvue">
            <h3>{{ title }}</h3>
			<div >
				<p v-if='bills.length > 0' :class="{'pago':!status, 'nao-pago': status}">{{ statusBills }}</p>
				<p v-else>Não há contas a pagar!</p>
			</div>
            <ul>
                <li v-for='item in menu'>
                    <a href="#" @click.prevent="showView(item.id)">{{ item.title }}</a>
                </li>
            </ul>
            <div v-if='activedView == 0'>
                <table>				
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vencimento</th>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Paga?</th>
                            <th>Ações</th>
                            <th> Dar baixa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='(o, index) in bills'>
                            <td>{{index}}</td>
                            <td>{{o.date_due}}</td>
                            <td>{{o.name}}</td>
                            <td>{{ o.value | currency }}</td>
                            <td class='my-class' :class="{'pago':o.done, 'nao-pago': !o.done}">{{ o.done | billDone }}</td>
                            <td>
								<span>
									<a href="#" @click.prevent="loadBill(o)">
										Editar
									</a> 
								</span>
								<span>
									<a href="#" @click.prevent="delBill(index)">
										Apagar
									</a>
								</span>
							</td>							
							<td>
							<input type='checkbox' :checked="o.done" @change.prevent="changeState(o)"/>
							</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div v-if='activedView == 1'>
                <form name="form" @submit.prevent="submit">
					<label>Vencimento</label>
                    <input type='text' v-model='bill.date_due' />
					<br/>
                    <br/>
                    <label>Nome</label>
                    <select v-model='bill.name'>
						<option v-for='o in names' :value="o">{{o}}</option>
					</select>
					<br/>
					<label>Valor</label>
                    <input type='text'  v-model='bill.value'/>
					<br/><br/>
					<input type='submit' value='Enviar'/>
                    
                </form>
            </div>
        </div>

        <script type='text/javascript'  charset="UTF-8" src='./node_modules/vue/dist/vue.js'></script>
		
        <script type='text/javascript'  charset="UTF-8" src='./accounting/accounting.min.js'></script>
		
        <script type='text/javascript'  charset="UTF-8" src='app.js'></script>
    </body>

</html>